<div class="right" *ngIf="month">
	<div class="head">
		<div>
			{{ month }}
		</div>
		<div>
			{{ result }}
		</div>
	</div>
	<div class="test">
		<div class="progress" *ngIf="notes.length > 0">
			<div class="progress-bar" [className]="result > 50 ? 'bg-success' : 'bg-danger'" role="progressbar" style="width: {{ result }}%" aria-valuemin="0" aria-valuemax="5"></div>
		</div>
		<div *ngFor="let comment of comments" class="comment">
			{{ comment }}
		</div>
	</div>
	<div style="display: block;">
		<canvas baseChart 
			[datasets]="barChartData"
			[labels]="barChartLabels"
			[options]="barChartOptions"
			[plugins]="barChartPlugins"
			[legend]="barChartLegend"
			[chartType]="barChartType">
		</canvas>
	</div>
</div>
