<div class="container ">
  <form>
    <h1>Mood Of The Month</h1>
    <div class="form-group">
      <label for="msgNote">{{ mail.msgNote }}</label>
      <input type="text" class="form-control"  id="msgNote" aria-describedby="msgNoteHelp">
      <small id="msgNoteHelp" class="form-text text-muted">Vous devez remplir ce champ.</small>
    </div>
    <div class="form-group">
      <label for="title">{{ mail.titre }} </label>
      <input type="text" class="form-control" id="title" aria-describedby="titleHelp">
      <small id="titleHelp" class="form-text text-muted">Vous devez remplir ce champ.</small>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
</div>
