<div class="modal-header">
  <h4 class="modal-title " id="modal-basic-title"><i class="fa fa-address-book"></i> {{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 formAddUser">
        <p class="card-text"><code><strong>* Required</strong></code></p>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label for="firstName">
              Prénom
              &nbsp;<code><strong>*</strong></code>
            </label>
            <input required type="text" id="firstName" class="form-control" name="firstName" ngModel>
          </div>
          <div class="form-group">
            <label for="lastName">
              Nom
              &nbsp;<code><strong>*</strong></code>
            </label>
            <input required type="text" id="lastName" class="form-control" name="lastName" ngModel>
          </div>
          <div class="form-group">
            <label for="age">
              Date de naissance
              &nbsp;<code><strong>*</strong></code>
            </label>
            <input required type="date" id="age" class="form-control" name="age" ngModel>
          </div>
          <div class="form-group">
            <label for="mail">
              Email
              &nbsp;<code><strong>*</strong></code>
            </label>
            <input required type="email" id="mail" class="form-control" name="mail" ngModel>
          </div>
          <button class="btn btn-success" type="submit">Ajouter</button>
          <small id="help" class="form-text text-muted" *ngIf="f.invalid">Veuillez remplir tous les champs.</small>
        </form>
      </div>
    </div>
  </div>

</div>

